# Django
DJANGO_SECRET_KEY=pon_aqui_una_secret_key_segura
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,tudominio.com,www.tudominio.com

# Base de datos
DB_ENGINE=django.db.backends.mysql
DB_NAME=veudeivissa
DB_USER=root
DB_PASSWORD=12345678
DB_HOST=127.0.0.1
DB_PORT=3306

# Email en producción
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=tu_password_de_aplicacion
DEFAULT_FROM_EMAIL=Veu d'Eivissa <tu_correo@gmail.com>